@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(#1e293b 1px, transparent 1px);
  background-size: 20px 20px;
  color: rgb(203 213 225);
}

a {
  color: rgb(14 165 233);
  text-decoration: underline;
}

[problem-text] > p,
ul {
  margin-bottom: 0.5em;
}


ul {
  list-style-type: disc;
  margin-left: 2em;
}

code {
  padding: 2px 4px;
  color: #fff;
  background-color: #17202f;
  border-radius: 4px;
}

.CodeMirror {
  border-radius: 4px;
}

[log] {
  color: #94a3b8;
  font-size: 30px;
  padding: 3px;
}

[problem]:last-child [separator] {
  display: none;
}

[item="true"] {
  background: #334155;
}

// Code Mirror

.cm-s-material-darker.CodeMirror {
  background: #17202f;
  color: white;
}

.cm-s-material-darker .CodeMirror-gutters {
  background: #121a26;
}
