@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff36 rgb(23, 32, 47);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgb(23, 32, 47);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff36;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }
}

body {
  background-image: radial-gradient(#1e293b 1px, transparent 1px);
  background-size: 20px 20px;
  color: rgb(203 213 225);
}

a {
  color: rgb(14 165 233);
  text-decoration: underline;
}

[problem-text] > p,
ul,
table {
  margin-bottom: 0.5em;
}

ul {
  list-style-type: disc;
  margin-left: 2em;
}

code {
  padding: 2px 4px;
  color: #fff;
  background-color: #17202f;
  border-radius: 4px;
}

table {
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid #334155;
    padding: 5px;
    border-collapse: collapse;
  }

  & thead tr th {
    padding: 5px 10px 5px 10px;
  }

  & tbody {
    color: #fffc;

    & tr:nth-child(n):nth-child(even) {
      background: #3341557f;
    }
  }
}

[log] {
  color: #94a3b8;
  font-size: 30px;
  padding: 3px;
}

[problem]:last-child [separator] {
  display: none;
}

[item="true"] {
  background: #334155;
}

#code {
  border-radius: 4px;
  height: 300px;
  margin: 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vertical-separator {
  width: 116px;
  background: #cbd5e1;
  top: -25px;
  position: relative;
  border: solid 1px #cbd5e1;
  padding-left: 8px;
  border-radius: 4px;
}

.vertical-text {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg) translateX(3px) translateY(-20px);
}

.text-output {
  background: #17202f;

  pre {
    left: 30px;
    position: relative;
    font-size: 12px;
    min-height: 100%;
    width: calc(100% - 30px);
  }
}

.center-trans {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.spinner {
  width: 20px;
  height: 20px;
  border: solid 3px rgb(203, 213, 225);
  border-radius: 100%;
  position: absolute;
  border-bottom: solid transparent;
  right: 22px;
  animation: spin 1s linear infinite;
}

.peopleIcon {
  position: absolute;
  transform: translateX(-24px);
  background: #334155;
  box-shadow: 0 0 7px #00000082;
}

.ace_content {
  background: #17202f;
}

.ace_gutter-layer {
  background: #121a26;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
